body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center
}

h1{
  margin: 0;
  margin-bottom: 2rem;
}

.input{
  border: 2px solid black;
  border-radius: .5rem;
  padding: .25rem;
  width: 7em;
}

select{
  margin-left: 1rem;
}

.equals{
  font-size: 3rem;
  font-weight: bold;
}