/* Ubuntu font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    display: grid;
    place-items: center;
    margin:0;
    padding: 0px 40px;
    font-family: "Ubuntu",sans-serif;
    background-color: #f5f5f5;
}

.circle{
    position: fixed;
    top: -50%;
    left: -50%;
    height: 85%;
    width: 85%;
    background-color: aquamarine;
    border-radius: 50%;
}

.circle::after{
    content: "";
    position: inherit;
    right: -50%;
    bottom: -70%;
    height: inherit;
    width: inherit;
    border-radius: 35%;
    background-color: rgb(240, 255, 127);
}

.card{
    position: relative;
    z-index: 4;
    width: 100%;
    border-radius: 5%;
    margin: 0 30px;
    padding: 50px 70px;
    background-color: #fff;
    text-align: center;
}

.form{
    display: grid;
    gap: 16px;
    text-align: left;
}

.form>input, .form>button{
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.form>input{
    border: 2px solid #e0e0e0;
    padding: 5px 30px;
    font-size: 18px;
    font-family: inherit;
    color: #11274c;
    transition: all 0.25s;
}

.form>input:hover{
    border: 2px solid #000;
}

.form>input::placeholder{
    color: #cac8ca;
}

.form>button{
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin: 25px 0;
    border: none;
    color: #f5f5f5;
    background-color: aquamarine;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 3px;
    transition: all 0.25s;
}
.form>button:hover{
    color: #000;
    background-color: rgb(240, 255, 127);
}

.card>footer>a{
    transition: all 0.25s;
}

.card>footer>a:hover{
    color: aquamarine;
}

/* media for better response */

@media (min-width: 350px){
    body{
        padding:0;
    }
    .card{
        margin: 0px;
        width: 90%;
    }
}


@media (min-width: 500px){
    body{
        padding:0;
    }
    .card{
        margin: 0px;
        width: 70%;
    }
}

@media (min-width: 750px){
    .card{
        width: 60%;
    }
    
}
